.link__certificados {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.link__certificados:hover {
    color: var(--cor-terciaria);
}

.curriculo__listas {
    list-style-type: none;
    padding-top: 1em;
}

.curriculo__item {
    padding-top: 1.5em;
}

.apresentacao__curriculo {
    align-items: flex-start;
}


@media (max-width: 740px) {

    .apresentacao__conteudo {
        align-items: center;
    }

    .apresentacao__conteudo__texto {
        width: auto;
        font-size: 1.3em;
        word-wrap: break-word;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.9em;
    }
    
}